.navbar {
  height: 50px;
  background-color: lightseagreen;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  padding: 15px;
  position: relative;
}

.logo {
  font-weight: 20px;
  font-size: 20px;
}

.icons {
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 20px;
  cursor: pointer;
  position: relative;
}

.iconImg {
  width: 20px;
  height: 20px;
}

.counter {
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  right: -5px;
}

.notifications {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  color: black;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.notification {
  padding: 5px;
  font-size: 14px;
}

.notificationButton {
  width: 80%;
  padding: 5px;
  margin-top: 10px;
}
